.body {
  display: flex;
  width: 100%;
}
.h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 34px;
  font-weight: 800;
  color: #ffffff;
}
.h3 {
  font-family:'IBM Plex Mono', monospace;
  font-size: 14px;
  font-weight: 400;
  color: #9c9c9c;
}
.font-ibm-plex-mono {
  font-family:'IBM Plex Mono', monospace;
}
.font-raleway {
  font-family: 'Raleway', sans-serif;
}
.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #080800;
}
.top-menu {
  display: flex;
  width: 90%;
  background-color: #1b1b1b;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.navigation {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
}
.menu-item {
  color: #9c9c9c;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
  font-size: 14px;
}
.social-media {
  display: flex;
  width: 20%;
  align-items: center;
  justify-content: space-evenly
}
.main-content {
  display: flex;
  width: 80%;
  align-items: center;
}
.name {
  padding-top: 20%;
  font-family: 'Raleway', sans-serif;
  font-size: 44px;
  color:#ffffff;
}
.subname {
  width: 75%;
  padding-top: 5%;
  padding-bottom: 5%;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
  line-height: 24px;
  color: #9c9c9c;
}
.my-button {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  width: 40%;
  background-color: #62ba1b;
  border-radius: 4px;
  border: 1px solid darkgreen;
  padding: 12px 16px 12px 16px;
  margin-bottom: 8%;
}
.my-button:hover {
  background-color: #3f8e00;
  cursor: pointer;
}
.title-image {
  display: flex;
  width: 75%;
  border-radius: 60%;
  padding-top: 5%;
  padding-bottom: 3%;
  justify-content: center;
}
.bottom-outer {
  display: flex;
  width: 100%;
  height: 15%;
  flex-direction: column;
  align-items: center;
}
.bottom {
  width: 80%;
}
.bottom-title {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
  color: #ffffff;
}
.bottom-logo {
  display: flex;
  padding-top: 3%;
  padding-bottom: 4%;
  justify-content: space-between;
}
.logo {
  display: flex;
  border: 1px solid lightslategray;
  width: 120px;
  height: 40px;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  opacity: 0.4;
}
.case-outer {
  display: flex;
  justify-content: center;
}
.case-inner {
  width: 80%;
  background-color: #ffffff;
}
.case-title {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
}
.ctitle {
  background-color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 34px;
  margin-bottom: 0%;
}
.csubtitle {
  width: 60%;
  background-color: #ffffff;  
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
  text-align: center;
  color: #9c9c9c;
}
.fintech-case {
  display: flex;
  margin-top: 4%;
}
.fintech-tag {
  border-radius: 60px;
  width: 20%;
  background-color: #fff6e9;
}
.fintech-tag-name{
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 700;
  font-size: 12px;
  color: #ffa217;
  text-align: center;
}
.fintech-tittle {
  padding-top: 5%;
  padding-bottom: 5%;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 32px;
  color: #080808;
}
.fintech-subtitle {
  padding-bottom: 10%;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
  font-size: 14px;
  color: #9c9c9c;
}
.fintech-button {
  padding: 2% 3% 2% 3%;
  background-color: #ffa217;
  border-radius: 6px;
  border: 1px solid lightgoldenrodyellow;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
}
.fintech-button:hover {
  background-color: #a26406;
  cursor: pointer;
}
.fintech-image {
  border-radius: 10%;
  margin-left: 5%;
}
.edtech-case {
  display: flex;
  margin-top: 4%;
  flex-direction: row-reverse;
}
.edtech-tag {
  border-radius: 20px;
  width: 12%;
  background-color: #d0e6ff;
}
.edtech-tag-name{
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 700;
  font-size: 12px;
  color: #000aff;
  text-align: center;
}
.edtech-tittle {
  padding-top: 5%;
  padding-bottom: 5%;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 32px;
  color: #080808;
}
.edtech-subtitle {
  padding-bottom: 10%;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
  font-size: 14px;
  color: #9c9c9c;
}
.edtech-button {
  padding: 2% 3% 2% 3%;
  background-color: #000aff;
  border-radius: 6px;
  border: 1px solid lightblue;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
}
.edtech-button:hover {
  background-color: #190685;
  cursor: pointer;
}
.edtech-image {
  border-radius: 10%;
  margin-right: 5%;
}
.pharma-case {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 4%;
  margin-bottom: 6%;
}
.pharma-tag {
  border-radius: 20px;
  width: 12%;
  background-color: #E0FFF8;
}
.pharma-tag-name {
  padding: 0% 2% 0% 2%;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 700;
  font-size: 12px;
  color: #2ab090;
  text-align: center;
}
.pharma-tittle {
  padding-top: 5%;
  padding-bottom: 5%;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 32px;
  color: #080808;
}
.pharma-subtitle {
  padding-bottom: 10%;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
  font-size: 14px;
  color: #9c9c9c;
}
.pharma-button {
  padding: 2% 3% 2% 3%;
  background-color: #2ab090;
  border-radius: 6px;
  border: 1px solid lightseagreen;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
}
.pharma-button:hover {
  background-color: #03655f;
  cursor: pointer;
}
.pharma-image {
  border-radius: 10%;
  margin-left: 5%;
}
.testimonials-outer {
  display: flex;
  justify-content: center;
  background-color: #080808;
}
.testimonials-inner {
  width: 80%;
  background-color: #080808;
}
.testimonials-title-inner {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.title-testimonials {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 34px;
  color: #ffffff;
  margin-bottom: 0%;
}
.tsubtitle {
  width: 50%;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
  text-align: center;
  color: #9c9c9c;
}
.first-part {
  display: flex;
  margin-top: 3%;
  margin-bottom: 2%;
}
.testimonials-first {
  width: 50%;
  border-radius: 15px;
  margin: 1% 2% 1% 2%;
  padding: 2% 2% 2% 2%;
  border: 1px solid darkslategrey;
  border-style: outset;
}
.testimonials-subtitle-first {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
  color: #9c9c9c;
  text-align: right;
}
.testimonials-name-first {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
}
.testimonials-image-first {
  color: #ffffff;
  border-radius: 60%;
  padding: 2% 3% 2% 3%;
}
.testimonials-second {
  width: 50%;
  border-radius: 15px;
  margin: 1% 2% 1% 2%;
  padding: 2% 2% 2% 2%;
  border: 1px solid darkslategrey;
  border-style:outset;
}
.testimonials-subtitle-second {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
  color: #9c9c9c;
}
.testimonials-name-second {
  display: flex;
  align-items:center;
  justify-content: flex-end;
  flex-direction: row-reverse;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  color: #ffffff;
}
.testimonials-image-second {
  border-radius: 60%;
  padding: 2% 3% 2% 3%;
}
.second-part {
  display: flex;
  margin-bottom: 3%;
}
.testimonials-third {
  width: 50%;
  border-radius: 15px;
  margin: 1% 2% 1% 2%;
  padding: 2% 2% 2% 2%;
  border: 1px solid darkslategrey;
  border-style: inset;
}
.testimonials-subtitle-third {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
  color: #9c9c9c;
  text-align: right;
}
.testimonials-name-third {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  color: #ffffff;
}
.testimonials-image-third {
  border-radius: 60%;
  padding: 2% 3% 2% 3%;
}
.testimonials-fouths {
  width: 50%;
  border-radius: 15px;
  margin: 1% 2% 1% 2%;
  padding: 2% 2% 2% 2%;
  border: 1px solid darkslategrey;
  border-style: inset;
}
.testimonials-subtitle-fouths {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
  font-size: 14px;
  color: #9c9c9c;
}
.testimonials-name-fouths {
  display: flex;
  align-items:center;
  justify-content: flex-end;
  flex-direction: row-reverse;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  color: #ffffff;
}
.testimonials-image-fouths {
  border-radius: 60%;
  padding: 2% 3% 2% 3%;
}
.recent-work {
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
  width: 100%;
}
.recent-work-inner {
  display: flex;
  width: 75%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.recent-work-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.h2-recent-title {
  text-align: center;
  margin-bottom: 0%;
  font-family: 'Raleway', sans-serif;
  font-size: 34px;
  font-weight: 800;
  color: #080800;
}
.h3-recent-title {
  width: 75%;
  text-align: center;
  font-family:'IBM Plex Mono', monospace;
  font-size: 14px;
  color: #9c9c9c;
}
.recent-work-example {
  display: flex;
  justify-content: center;
  align-items: center;
}
.h2-recent {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 24px;
  color: #080800;
}
.h3-recent {
  width: 75%;
  font-family:'IBM Plex Mono', monospace;
  font-size: 14px;
  color: #9c9c9c;
}
.recent-work-left-vector{
  border-style: none;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight:900;
  color:#d0e6ff;
  text-align: center;
  background-color: #ffffff;
}
.recent-work-left-vector:hover {
  background-color: lightblue;
  cursor: pointer;
}
.first-example {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3% 3% 3% 3%;
}
.first-example-inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.image-first-example {
  border-radius: 15px;
}
.first-example-button {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  display: flex;
  width: 40%;
  background-color: #62ba1b;
  border-radius: 4px;
  border: 1px solid rgb(2, 222, 2);
  padding: 12px 16px 12px 16px;
  text-align: left;
  justify-content: center;
  align-content: center;
  margin-bottom: 8%;
}
.first-example-button:hover {
  background-color: darkgreen;
  cursor: pointer;
}
.second-example {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  margin: 3% 3% 3% 3%;
}
.second-example-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.image-second-example {
  border-radius: 15px;
}
.second-example-button {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  display: flex;
  width: 40%;
  background-color: #62ba1b;
  border-radius: 4px;
  border-radius: 4px;
  border: 1px solid rgb(2, 222, 2);
  padding: 12px 16px 12px 16px;
  text-align: left;
  justify-content: center;
  align-content: center;
  margin-bottom: 8%;
}
.second-example-button:hover {
  background-color: darkgreen;
  cursor: pointer;
}
.recent-work-right-vector{
  border-style: none;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight: 900;
  color:#d0e6ff;
  text-align: center;
  background-color: #ffffff;
}
.recent-work-right-vector:hover {
  background-color: #9c9c9c;
  cursor: pointer;
}
.get-in-touch {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #080808;
}
.get-in-touch-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60%;
}
.get-in-touch-title {
  width: 60%;
}
.get-in-touch-title1 {
  font-family: 'Raleway', sans-serif;
  font-size: 34px;
  text-align: center;
  color: #ffffff;
  margin: 8% 0% 0% 0%;
}
.get-in-touch-title2 {
  font-family:'IBM Plex Mono', monospace;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  margin: 0%;
  color: #9c9c9c;
}
.email {
  font-family:'IBM Plex Mono', monospace;
  font-size: 12px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 3%;
}
.input1 {
  width: 200px;
  height: 25px;
  border-radius: 5px;
}
.mobile {
  font-family:'IBM Plex Mono', monospace;
  font-size: 12px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 3%;
}
.input2 {
  width: 200px;
  height: 25px;
  border-radius: 5px;
}
.message {
  font-family:'IBM Plex Mono', monospace;
  font-size: 12px;
  color: #ffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 3%;
}
.input3 {
  width: 200px;
  height: 150px;
  border-radius: 5px;
}
.button-submit {
  font-family:'IBM Plex Mono', monospace;
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  color: #ffffff;
  display: flex;
  width: 20%;
  background-color: #62ba1b;
  border-radius: 4px;
  border: 1px solid darkgreen;
  padding: 12px 16px 12px 16px;
  text-align: left;
  justify-content: center;
  align-content: center;
  margin-top: 5%;
  margin-bottom: 8%;
}
.button-submit:hover {
  background-color: #3f8e00;
  cursor: pointer;
}
.footer {
  background-color: #1b1b1b;
  width: 100%;
}
.footer-made {
  font-family:'IBM Plex Mono', monospace;
  font-size: 14px;
  text-align: center;
  color: #9c9c9c;
  margin-top: 0%;
  padding: 2% 0% 2% 0%;
}