/* медіа запити*/

/* @media (min-width: 3800px) {
  h1 {
    font-size: 88px;
    line-height: 140px;
    padding-top: 20%;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 28px;
  }
  h4 {
    font-size: 10px;
    line-height: 20px;
  }
  h5 {
    font-size: 18px;
  }
  h6 {
    font-size: 14px;
  }
  p {
    font-size: 12px;
    line-height: 20px;
  }
  button {
    font-size: 10px;
    width: 50%;
  }
  .title-image {
    width: 40%;
  }
  .bottom-logo {
    padding-top: 0%;
  }
  .logo {
    width: 100px;
  }
} */
/* @media (min-width: 2560px) {
  h1 {
    font-size: 32px;
    line-height: 40px;
    padding-top: 0%;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 28px;
  }
  h4 {
    font-size: 10px;
    line-height: 20px;
  }
  h5 {
    font-size: 18px;
  }
  h6 {
    font-size: 14px;
  }
  p {
    font-size: 12px;
    line-height: 20px;
  }
  button {
    font-size: 10px;
    width: 50%;
  }
  .title-image {
    width: 40%;
  }
  .bottom-logo {
    padding-top: 0%;
  }
  .logo {
    width: 100px;
  }
} */
/* @media (min-width: 1280px) {
  h1 {
    font-size: 32px;
    line-height: 40px;
    padding-top: 0%;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 28px;
  }
  h4 {
    font-size: 10px;
    line-height: 20px;
  }
  h5 {
    font-size: 18px;
  }
  h6 {
    font-size: 14px;
  }
  p {
    font-size: 12px;
    line-height: 20px;
  }
  button {
    font-size: 10px;
    width: 50%;
  }
  .title-image {
    width: 40%;
  }
  .bottom-logo {
    padding-top: 0%;
  }
  .logo {
    width: 100px;
  }
} */
/* @media (min-width: 760px) {
  h1 {
    font-size: 32px;
    line-height: 40px;
    padding-top: 0%;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 28px;
  }
  h4 {
    font-size: 10px;
    line-height: 20px;
  }
  h5 {
    font-size: 18px;
  }
  h6 {
    font-size: 14px;
  }
  p {
    font-size: 12px;
    line-height: 20px;
  }
  button {
    font-size: 10px;
    width: 50%;
  }
  .title-image {
    width: 40%;
  }
  .bottom-logo {
    padding-top: 0%;
  }
  .logo {
    width: 100px;
  }
} */
/* @media (min-width: 430px) {
  h1 {
    font-size: 32px;
    line-height: 40px;
    padding-top: 0%;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 28px;
  }
  h4 {
    font-size: 10px;
    line-height: 20px;
  }
  h5 {
    font-size: 18px;
  }
  h6 {
    font-size: 14px;
  }
  p {
    font-size: 12px;
    line-height: 20px;
  }
  button {
    font-size: 10px;
    width: 50%;
  }
  .title-image {
    width: 40%;
  }
  .bottom-logo {
    padding-top: 0%;
  }
  .logo {
    width: 100px;
  }
} */
/* @media (max-width: 425px) {
  header {
    width: 100%;
  }
  h1 {
    font-size: 20px;
    line-height: 30px;
    padding-top: 0%;
  }
  h2 {
    font-size: 18px;
    line-height: 30px;
  }
  h3 {
    font-size: 28px;
  }
  h4 {
    font-size: 8px;
    line-height: 14px;
  }
  h5 {
    font-size: 14px;
    line-height: 20px;
  }
  h6 {
    font-size: 14px;
  }
  p {
    font-size: 8px;
    line-height: 14px;
  }
  button {
    font-size: 6px;
    width: 45%;
    padding: 6px 8px;
  }
  .title-image {
    width: 35%;
  }
  .bottom-outer {
    width: 80%;
    align-items: baseline;
  }
  .bottom-logo {
    padding-top: 0%;
  }
  .logo {
    width: 100px;
  }
  .case--case {
    display: block;
  }
  .case-description {
    width: 100%;
  }
  .fintech-tag {
    width: 8%;
    padding: 2px 4px;
    font-size: 6px;
  }
  .btn-fintech {
    font-size: 6px;
    width: 25%;
  }
  .case-image {
    width: 25%;
  }
} */

/* шрифти */
font-ibm-plex-mono {
  font-family:'IBM Plex Mono', monospace;
}
font-raleway {
  font-family: 'Raleway', sans-serif;
}

/* основні стилі */
/* стилі тегів */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #080808;
  width: 100%;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #080808;
}
nav {
  background-color:#1b1b1b;
  width: 86%;
  display: flex;
  align-items: center;
  border-bottom-left-radius: 8px ;
  border-bottom-right-radius: 8px ;
}
h1 {
  
  font-family: 'Raleway', sans-serif;
  font-size: 44px;
  line-height: 51px;
  color:#ffffff;
  margin: 0%;

}
h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 34px;
  font-weight: 800;
  line-height: 40px;
  color: #080808;
  margin: 0%;
}
h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 34px;
  font-weight: 800;
  line-height: 40px;
  color: #ffffff;
  text-align: center;
  margin: 0%;
  padding: 0%;
}
h4 {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  color: #9c9c9c;
  width: 57%;

}
h5 {
  margin: 5% 0% 0% 0%;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  color: #080808;
}
h6 {
  margin: 0%;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}
p {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
  line-height: 24px;
  color: #9c9c9c;
}
button {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  background: #3F8E00;
  border-radius: 4px;
  border: 1px solid #62BA1B;
  margin-top: 3%;
  padding: 21px 44px;
  box-shadow: 0px 8px 30px 0px rgba(63, 142, 0, 0.50);
}
button:hover {
  background-color: darkgreen;
  cursor: pointer;
}
/* стилі класів */
.top-menu {
  display: flex;
  width: 90%;
  background-color: #1b1b1b;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.navigation {
  display: flex;
  width: 75%;
  justify-content: space-evenly;
}
.social-media {
  display: flex;
  width: 20%;
  justify-content: space-evenly
}
.header-intro {
  display: flex;
  width: 72%;
}
.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* gap: 30px; */
  margin-top: 5%;
}
.p-header {
  width: 80%;
}
.title-image {
  width: 75%;
  border-radius: 60%;
  margin-top: 8%;
}
.header-clients-logo {
  width: 72%;
}
.clients-logo {
  display: flex;
  padding-bottom: 4%;
  justify-content: space-between;
}
.logo {
  display: flex;
  border-radius: 6px;
  border: 2px solid #1B1B1B;
  width: 160px;
  justify-content: center;
  align-items: center;
  opacity: 0.3;
}
.case {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 3% 0%;
}
.title {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 5% 0% 0% 0%;
}
.case--case {
  display: flex;
  margin: 5% 0% 5% 0%;
}
.case-description {
  margin-right: 5%;
}
.case-image {
  border-radius: 10px;
}
.fintech-tag {
  display: inline-flex;
  border-radius: 60px;
  padding: 0px 10px;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 700;
  font-size: 12px;
  color: #ffa217;
  background-color: #fff6e9;
}
.btn-fintech {
  margin: 6% 0%;
  padding: 10px 24px;
  border: none;
  border-radius: 4px;
  background: #FFA217;
  box-shadow: 0px 8px 30px 0px rgba(236, 209, 1, 0.1);
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
}
.btn-fintech:hover {
  background-color: #a26406;
  cursor: pointer;
}
.case-edtech {
  display: flex;
  margin: 5% 0% 5% 0%;
  flex-direction: row-reverse;
}
.description-edtech {
  margin-left: 5%;
}
.edtech-tag {
  display: inline-flex;
  align-items: flex-start;
  border-radius: 60px;
  padding: 0px 10px;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 700;
  font-size: 12px;
  background-color: #d0e6ff;
  color: #000aff;
}
.btn-edtech {
  padding: 10px 24px;
  margin: 6% 0%;
  border: none;
  border-radius: 4px;
  background: #000AFF;
  box-shadow: 0px 8px 30px 0px rgba(0, 10, 255, 0.10);
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
}
.btn-edtech:hover {
  background-color: #190685;
  cursor: pointer;
}
.pharma-tag {
  display: inline-flex;
  align-items: flex-start;
  border-radius: 60px;
  padding: 0px 10px;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 700;
  font-size: 12px;
  background-color: #E0FFF8;
  color: #2ab090;
}
.btn-pharma {
  padding: 10px 24px;
  margin: 6% 0%;
  border: none;
  border-radius: 4px;
  background: #2AB090;
  box-shadow: 0px 8px 30px 0px rgba(42, 176, 144, 0.10);
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
}
.btn-pharma:hover {
  background-color: #03655f;
  cursor: pointer;
}
.testimonials {
  background-color: #080808;
  width: 100%;
}
.testimonials-outer {
  display: flex;
  justify-content: center;
}
.testimonials-inner {
  width: 72%;
  display: flex;
  flex-direction: column;
  margin: 4% 0%;
}
.part {
  display: flex;
  margin: 4% 0%;
}
.client {
  width: 75%;
  margin-right: 4%;
  border-width: 1px;
  border-style: solid;
  border-color: #484848;
  border-image-source: linear-gradient(90deg, #484848 1.24%, rgba(27, 27, 27, 0) 100%);
  border-image-slice: 1;
  /* border-radius: 10px; */
  padding: 2%;
} 
.symbol {
  position: relative;
  top: -30px;
  left: -5px;
}
.testimonials-name {
  display: flex;
  align-items: center;
}
.testimonials-image {
  border-radius: 60%;
  padding: 2% 3% 2% 3%;
}
.recent {
  width: 87%;
  margin: 5% 0%;
}
.recent-work-example {
  display: flex;
  margin-top: 2%;
}
.example {
  margin: 2%;
}
.image-example {
  border-radius: 10px;
  width: 100%;
}
.btn-recent {
  padding: 10px 30px;
}
.btn-vector {
  background-color: #ffffff;
  border: none;
  box-shadow: none;
  padding: 0%;
}
.btn-vector:hover {
  background-color: #eaeaeaed;
  cursor: pointer;
  border-radius: 60px;
}
.get-in-touch {
  display: flex;
  align-items: center;
  justify-content: center;
}
.email {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
}
.mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
}
.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
}
.p-footer {
  font-weight: 600;
  margin: 0%;
  width: 26%;
}
.input {
  width: 25%;
  height: 36px;
  padding-left: 1%;
  border-radius: 4px;
  border: 1px solid #D8D8D8;
  background: #F8F8F8;
  display: flex;
  width: 350px;
  padding: 0px 12px;
  align-items: flex-start;
}
.input-message {
  border-radius: 4px;
  border: 1px solid #D8D8D8;
  background: #F8F8F8;
  display: flex;
  width: 350px;
  height: 120px;
  padding: 0px 12px;
  align-items: flex-start;
}
.input:placeholder-shown {
  /* color: #757575; */
  font-family: IBM Plex Mono;
  font-size: 12px;
  /* font-weight: 400;
  line-height: 21px; */
}
.input-message:placeholder-shown {
  /* color: #757575; */
  font-family: IBM Plex Mono;
  font-size: 12px;
  /* font-weight: 400;
  line-height: 21px; */
}
.btn-submit {
  margin-top: 2%;
  margin-bottom: 8%;
  width: 27%;
  padding: 16px 24px;
}
.footer1 {
  background-color:#1b1b1b;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}